In [1]:
import numpy as np

In [2]:
np.eye(3,3,3,3)

TypeError: Cannot interpret '3' as a data type

In [3]:
np.random.random((3,3,3,3))

array([[[[0.86470179, 0.46650412, 0.16167803],
         [0.91669725, 0.55012967, 0.70990509],
         [0.122998  , 0.415309  , 0.8040186 ]],

        [[0.73722786, 0.25475328, 0.22935868],
         [0.03929798, 0.67306094, 0.29143804],
         [0.59835917, 0.02753868, 0.25933483]],

        [[0.54716106, 0.57952946, 0.59784408],
         [0.94640789, 0.45876178, 0.78777959],
         [0.43272597, 0.65619568, 0.33336129]]],


       [[[0.36109573, 0.96592885, 0.39513943],
         [0.38758851, 0.31603439, 0.60133446],
         [0.78984198, 0.14054707, 0.22006825]],

        [[0.69871672, 0.16943908, 0.05567226],
         [0.72484467, 0.53395443, 0.38205984],
         [0.4711218 , 0.7079372 , 0.40004013]],

        [[0.65632385, 0.77021363, 0.52187326],
         [0.46530849, 0.46064883, 0.60703857],
         [0.41053073, 0.80212598, 0.33335919]]],


       [[[0.76446075, 0.58087246, 0.10192262],
         [0.77750287, 0.03012473, 0.06853136],
         [0.73690029, 0.19747159, 0.00810648]],

        [[0.24684441, 0.21076812, 0.17894301],
         [0.56228816, 0.33968998, 0.4810251 ],
         [0.85883361, 0.63780066, 0.94549121]],

        [[0.82186256, 0.99586534, 0.49700943],
         [0.14179009, 0.02799204, 0.27126409],
         [0.43960387, 0.67805352, 0.50118744]]]])

In [4]:
x = np.random.random((3,3,3))

In [5]:
print(x)

[[[0.91551638 0.10421941 0.53653732]
  [0.04959613 0.66788504 0.6215039 ]
  [0.14814566 0.61163069 0.98132999]]

 [[0.54269591 0.23404378 0.95023219]
  [0.89356849 0.25314276 0.23313576]
  [0.35007338 0.93236349 0.43980492]]

 [[0.79733485 0.9538753  0.00895809]
  [0.85508767 0.61494281 0.74512608]
  [0.64883154 0.45796485 0.90221774]]]

In [6]:
x[2,0,2]

0.00895809319024421

In [8]:
import pandas as pd

In [9]:
x = [[1,2,3],[4,5,6],[7,8,9]]

In [10]:
pd.DataFrame(x)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
x.T

AttributeError: 'list' object has no attribute 'T'

In [12]:
X.[0]

SyntaxError: invalid syntax (<ipython-input-12-c768126caf8a>, line 1)

In [13]:
x[0]

[1, 2, 3]

In [14]:
x[[0]]

TypeError: list indices must be integers or slices, not list

In [15]:
g = pd.DataFrame(x,columns=["uno","dos","tres"])

In [16]:
print(g)

   uno  dos  tres
0    1    2     3
1    4    5     6
2    7    8     9

In [17]:
g["uno"]

0    1
1    4
2    7
Name: uno, dtype: int64

In [18]:
g[["uno"]]

   uno
0    1
1    4
2    7