In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
f = [[1,2,3][4,5,6]]

TypeError: list indices must be integers or slices, not tuple

In [4]:
f = [1,2,3,4,5]

In [5]:
x = np.asarray(f)

In [6]:
print(x)

[1 2 3 4 5]

In [7]:
sum(x)

15

In [8]:
f * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [9]:
f*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [10]:
f / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [11]:
f + f

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [12]:
f ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [13]:
f - [5,4,3,2,1]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [14]:
x * 2

array([ 2,  4,  6,  8, 10])

In [15]:
j = x - [5,4,3,2,1]

In [16]:
print(j)

[-4 -2  0  2  4]

In [17]:
import pandas as pd

In [18]:
f = [[1,2,3],[4,5,6],[7,8,9]]

In [19]:
d = pd.DataFrame(f,columns=["a","b","c"])

In [20]:
print(d)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
print((d))

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
display(d)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [23]:
d.T

   0  1  2
a  1  4  7
b  2  5  8
c  3  6  9

In [24]:
d["a"]

0    1
1    4
2    7
Name: a, dtype: int64

In [25]:
d[["a"]]

   a
0  1
1  4
2  7

In [26]:
d["a"].max()

7

In [27]:
d.head[2]

TypeError: 'method' object is not subscriptable

In [28]:
d.head(2)

   a  b  c
0  1  2  3
1  4  5  6

In [29]:
x.columns = [f"hola{n} for n in range(2)]

SyntaxError: EOL while scanning string literal (<ipython-input-29-0b68f6a380da>, line 1)

In [30]:
x.columns = [f"hola{n}" for n in range(2)]

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [31]:
d.columns = [f"hola{n}" for n in range(2)]

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [32]:
d.columns = [f"hola{n}" for n in range(3)]

In [33]:
print(d)

   hola0  hola1  hola2
0      1      2      3
1      4      5      6
2      7      8      9

In [34]:
display(d)

   hola0  hola1  hola2
0      1      2      3
1      4      5      6
2      7      8      9

In [35]:
w = np.random.random((3,3,3))

In [36]:
print(w)

[[[0.57104078 0.31708101 0.56411258]
  [0.15680075 0.62922121 0.66898354]
  [0.38777292 0.4911786  0.56529289]]

 [[0.58323296 0.87886577 0.78357069]
  [0.88506048 0.13407678 0.51624139]
  [0.13133068 0.57973495 0.51259921]]

 [[0.47983218 0.33533536 0.95649914]
  [0.64731469 0.44461401 0.48451996]
  [0.0411512  0.82581161 0.6959    ]]]

In [37]:
w[2,1,0]

0.6473146928543183

In [38]:
h = np.ones(3,3)

TypeError: Cannot interpret '3' as a data type

In [39]:
h = np.ones((3,3))

In [40]:
print(h)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [41]:
l = np.concatenate(h,l)

NameError: name 'l' is not defined

In [42]:
l = np.concatena(h,w)

AttributeError: module 'numpy' has no attribute 'concatena'

In [43]:
l = np.concatenate(w,h)

TypeError: only integer scalar arrays can be converted to a scalar index

In [44]:
l = np.concatenate(w[1],h)

TypeError: only integer scalar arrays can be converted to a scalar index

In [45]:
l = np.concatenate(*w,h)

TypeError: concatenate() takes from 1 to 3 positional arguments but 4 were given

In [46]:
print(w)
print(h)

[[[0.57104078 0.31708101 0.56411258]
  [0.15680075 0.62922121 0.66898354]
  [0.38777292 0.4911786  0.56529289]]

 [[0.58323296 0.87886577 0.78357069]
  [0.88506048 0.13407678 0.51624139]
  [0.13133068 0.57973495 0.51259921]]

 [[0.47983218 0.33533536 0.95649914]
  [0.64731469 0.44461401 0.48451996]
  [0.0411512  0.82581161 0.6959    ]]]
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [47]:
w[1]

array([[0.58323296, 0.87886577, 0.78357069],
       [0.88506048, 0.13407678, 0.51624139],
       [0.13133068, 0.57973495, 0.51259921]])

In [48]:
s = w[0]

In [49]:
a = np.concatenate[s,h]

TypeError: 'function' object is not subscriptable

In [50]:
a = np.concatenate(s,h)

TypeError: only integer scalar arrays can be converted to a scalar index

In [51]:
q = np.eye((3,3))

TypeError: 'tuple' object cannot be interpreted as an integer

In [52]:
q = np.eye((3))

In [53]:
s = np.ones((3,3))

In [54]:
単 = np.concatenate(q,s)

TypeError: only integer scalar arrays can be converted to a scalar index

In [55]:
単 = np.concatenate((q,s))

In [56]:
print(単)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [57]:
print(w)
print(h)

[[[0.57104078 0.31708101 0.56411258]
  [0.15680075 0.62922121 0.66898354]
  [0.38777292 0.4911786  0.56529289]]

 [[0.58323296 0.87886577 0.78357069]
  [0.88506048 0.13407678 0.51624139]
  [0.13133068 0.57973495 0.51259921]]

 [[0.47983218 0.33533536 0.95649914]
  [0.64731469 0.44461401 0.48451996]
  [0.0411512  0.82581161 0.6959    ]]]
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [58]:
k = np.concatenate((w[0],h))

In [59]:
print(k)

[[0.57104078 0.31708101 0.56411258]
 [0.15680075 0.62922121 0.66898354]
 [0.38777292 0.4911786  0.56529289]
 [1.         1.         1.        ]
 [1.         1.         1.        ]
 [1.         1.         1.        ]]

In [60]:
np.sum((w[0],h))

13.351484279290492

In [61]:
np.zip((w[0],h))

AttributeError: module 'numpy' has no attribute 'zip'

In [62]:
x = [1,2,3]
y = [6,7,8]

In [63]:
for i in zip(x,y)
print i

SyntaxError: invalid syntax (<ipython-input-63-2cf36d02c22f>, line 1)

In [64]:
for i in zip(x,y)
print(i)

SyntaxError: invalid syntax (<ipython-input-64-6ea8277e59cc>, line 1)

In [65]:
for i in zip(x.y):
    print(i)

AttributeError: 'list' object has no attribute 'y'

In [66]:
for i in zip(x,y):
    print(i)

(1, 6)
(2, 7)
(3, 8)

In [67]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [68]:
b = [i**3 for i in range(35)]

In [69]:
print(b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304]

In [70]:
for i in b:

SyntaxError: unexpected EOF while parsing (<ipython-input-70-359b78a79afb>, line 1)

In [ ]:
for i in b:
    if i%3==0:
        print("es multiplo de 3")
    elif i%7==0: